@font-face {
  font-family: 'Nunito';
  src: local("Nunito"),
    local("Nunito Regular"),
    url('../fonts/Nunito-Regular.woff') format('woff'),
    url('../fonts/Nunito-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Nunito-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy Medium';
  src: local("Gilroy"),
    local("Gilroy Medium"),
    url('../fonts/Gilroy-Medium.woff2') format("woff2"),
    url('../fonts/Gilroy-Medium.woff') format('woff'),
    url('../fonts/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --min-viewport-width: 180px;
  --min-viewport-height: 280px;

  --mn-font-family: 'Gilroy Medium', 'Candara', sans-serif;
  --mn-font-size: 16px;
  --mn-line-height: 1.3em;
  
  --txt-font-family: 'Nunito', system-ui, 'Segoe UI', 'Roboto', Arial, sans-serif;
  --txt-font-size: 14px;
  --txt-font-size-mini: 11px;
  --txt-line-height: 1.25em;
  
  --mn-color1: #1f2937;
  --mn-color2: #f9faf8;
  --mn-bg-color1: #f9faf8;

  --color-accent01: #e47b58;
  --color-accent02: #e94d1f;
  --color-accent03: #2e1816;
  --color-accent04: #922413;

  /* layout */
  --s-max: 767.9px;
  --m-min: 768px;
  --m-max: 1279.9px;
  --l-min: 1280px;

  --s-padding: 0;
  --m-padding: 0;
  --l-padding: 130px;

  --m-aria-padding: 30px;

  /* Adaptive pictures */
  --retina-dpi: 144dpi;
  --retina-dppx: 1.5dppx;
}

/* Global common (template) */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;

  margin: 0;
  padding: 0;

  font-family: var(--mn-font-family);
  font-size: var(--mn-font-size);
  line-height: var(--mn-line-height);
  
  color: var(--mn-color1);
  background-color: var(--mn-bg-color1);
}

main {
  flex-grow: 1;
  min-width: var(--min-viewport-width);
  min-height: var(--min-viewport-height);
}

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

a {
  display: inline-block;
  text-decoration: none;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}

button {
    margin: 0;
    padding: 0;
    font-size: inherit;
    line-height: inherit;
    font-family: inherit;
    color: inherit;
    background-color: transparent;
    border: none;
    box-shadow: none;
    cursor: pointer;
}

/* Basic common (template) */

.list-default {
    list-style: none;
    margin: 0;
    padding: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
    white-space: nowrap;
    clip-path: inset(100%);
}

.btn {
    display: inline-block;

    font: inherit;
    text-transform: unset;
    text-align: center;
    vertical-align: middle;
}

.text {
  font-family: var(--txt-font-family);
  font-size: var(--txt-font-size);
  line-height: var(--txt-line-height);
}

/* Adaptive layout */

.container-fluid {
    width: 100%;
}

@media (max-width: 767.9px) {
    .container-fluid {
        padding: 0 var(--s-padding);
    }
}

@media (min-width: 768px) and (max-width: 1279.9px) {
    .container-fluid {
        padding: 0 var(--m-padding);
    }
}

@media (min-width: 1280px) {
    .container-fluid {
        padding: 0 var(--l-padding);
    }
}

/* Makro layout (spaces) */

@media (max-width: 767.9px) {

  .space {
    width: 100vw;
    height: 100vh;

    color: var(--mn-color2);
  }

  .space_left-side {
    position: fixed;
    width: 100vw;
    height: 100vh;

    background-size: cover;
    background-origin: content-box;
    background-repeat: no-repeat;
    background-image: url('../img/bcg/bgr.png');
    background-position: center center;

    z-index: 1;
  }

  .space_right-side {
    position: fixed;
    width: 100vw;
    height: 80vh;
    overflow-y: scroll;
    z-index: 2;
    margin-top: 90px;

    padding: 10px 25px;
  }

  .logo-wrap {
    width: 100%;
    height: 60px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;

    background-color: rgba(0, 0, 0, 0.25);
    padding: 8px 10px;
    margin: auto;
    margin-top: 20px;
  }

  .logo-img {
    width: 120px;
  }

  .copywrite {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100vw;
    text-align: center;
    font-size: var(--txt-font-size-mini);
  }

}

@media (min-width: 768px) and (max-width: 1279.9px) {

  .space {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: stretch;
  }

  .space_left-side {
    position: relative;

    background-size: cover;
    background-origin: content-box;
    background-repeat: no-repeat;
    background-image: url('../img/bcg/bgr.png');
    background-position: center center;
    width: 35%;

    color: var(--mn-color2);
  }

  .space_right-side {
    width: 65%;
    padding: 90px 0;
    overflow-y: scroll;
  }

  .logo-wrap {
    position: absolute;
    margin-top: 90px;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;

    background-color: rgba(0, 0, 0, 0.25);
    padding: 30px 15px;
  }

  .logo-img {
    width: 120px;
  }

  .copywrite {
    position: absolute;
    bottom: 10px;
    left: 0;
    font-size: var(--txt-font-size-mini);

    width: 100%;
    text-align: center;
  }

}

@media (min-width: 1280px) {

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
  }

  .space {
    width: 75%;
    height: 75%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: stretch;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
  }

  .space_left-side {
    position: relative;

    background-size: cover;
    background-origin: content-box;
    background-repeat: no-repeat;
    background-image: url('../img/bcg/bgr.png');
    background-position: center center;
    width: 35%;

    color: var(--mn-color2);
  }

  .space_right-side {
    width: 65%;
    padding: 90px 0;
    overflow-y: scroll;
  }

  .logo-wrap {
    position: absolute;
    margin-top: 90px;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;

    background-color: rgba(0, 0, 0, 0.25);
    padding: 30px 15px;
  }

  .logo-img {
    width: 120px;
  }

  .copywrite {
    position: absolute;
    bottom: 10px;
    left: 0;
    font-size: var(--txt-font-size-mini);

    width: 100%;
    text-align: center;
  }

}

/* Form items */

.main-form_space,
.main-form {
  margin-bottom: 16px;
}

.input-wrap {
  display: flex;
  flex-direction: column;

  margin-bottom: 12px;
}

.input-label {
    font-size: var(--txt-font-size-mini);
}

.input {
  padding: 4px 8px;
  border-radius: 6px;
}

.btn_submit {
  appearance: none;
  display: inline-block;
  padding: 9px 26px;

  color: var(--mn-color2);
  background-color: var(--color-accent04);
  text-decoration: none;
  text-align: center;

  border: none;
  border-radius: 6px;
  box-shadow: none;
  cursor: pointer;
  transition: 0.25s ease-out;
}

@media (max-width: 767.9px) {

  .aria-wrap {
    /* margin-bottom: 17px; */
  }

  .description {
      font-size: var(--txt-font-size-mini);
      margin-bottom: 10px;
  }

  .main-form-header {
      margin-bottom: 12px;
  }

  .fieldset {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

}

@media (min-width: 768px) {

  .aria-wrap {
    margin-bottom: 26px;
  }

  .aria-wrap-annotation {
    padding: 0 var(--m-aria-padding);
  }

  .aria-wrap-formitems {
    padding: 0;
  }

  .description {
      margin-bottom: 12px;
  }

  .main-form_space {
    padding: 30px var(--m-aria-padding);
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 25px;
  }

  .main-form-header {
      margin-bottom: 16px;
      font-size: 18px;
  }

  .fieldset {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 25px;
  }

  .input-wrap {
    flex: 1;
  }

  .btn_submit,
  .login-text {
    margin: 0 var(--m-aria-padding);
  }

}
